<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @platform.name %>
</p>

<p>
  <b>Color code:</b>
  <%= @platform.color_code %>
</p>


<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
